# Python | grouping pandas | groupby

The pandas library is commonly used to load dataset and perform various types of data manipulation and analysis in Python.
In this tutorial, we discuss the concept of **grouping pandas**. 

It happens quite often that we work with a dataset that has one or multiple columns of categorical data. 
In such situations, it can be very helpful to use pandas _groupby_ method to group the dataframe by one or multiple columns. Let's look at an example:

# Python example for grouping pandas | groupby | COVID-19 dataset

In this example, we work with a practical dataset from [Our World in Data](https://ourworldindata.org/). The data is related to the COVID-19 historical data for different locations. Please, note that this dataset is being updated at the time of writing. So, the output you obtain from running the following Python codes might differ from what shown here. 

Let's read the dataset from URL into pandas dataframe. We have prepared another [short tutorial](https://soardeepsci.com/python-pandas-read_csv-from-url/) that provides more details on how to read csv from URL.

In [1]:
import pandas as pd

In [2]:
#link to the csv file
csv_url = 'https://covid.ourworldindata.org/data/owid-covid-data.csv'

#reading the csv file into pandas dataframe from the URL
df = pd.read_csv(csv_url)

#displaying the dataframe
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136988,ZWE,Africa,Zimbabwe,2021-11-26,133836.0,62.0,34.714,4704.0,0.0,0.714,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
136989,ZWE,Africa,Zimbabwe,2021-11-27,133836.0,0.0,31.571,4704.0,0.0,0.714,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
136990,ZWE,Africa,Zimbabwe,2021-11-28,133951.0,115.0,43.429,4705.0,1.0,0.857,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
136991,ZWE,Africa,Zimbabwe,2021-11-29,134226.0,275.0,78.857,4706.0,1.0,1.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
136992,ZWE,Africa,Zimbabwe,2021-11-30,134625.0,399.0,135.857,4707.0,1.0,1.143,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

This COVID-19 dataset is a collection of the COVID-19 data, being updated daily throughout the duration of the COVID-19 pandemic. We have prepared a separate set of tutorials on studying this dataset extensively, the first part of which can be accessed from [here](https://soardeepsci.com/a-practical-tutorial-on-data-science-part-1-python-pandas-dataframe/). We don't want to delve into the dataset here. For the purpose of this tutorial, we would like to see how we could group the dataset based on one or multiple columns' label. 

Let's use pandas _groupby_ to group the dataframe based on _location_:

In [3]:
#grouping pandas dataframe by column location using pandas groupby
df_grouped = df.groupby('location')

Grouping pandas dataframe results in an object of type **DataFrameGroupBy** as shown below:

In [4]:
type(df_grouped)

pandas.core.groupby.generic.DataFrameGroupBy

## (Optional reading) What attributes does the DataFrameGroupBy object have?

The following Python code snippet shows how to list callable attributes of object in python. It uses a list comprehension to examine each attribute of the object, and includes an attribute to a list if the attribute is callable not starting with '_':

In [5]:
object_callable_att = [att_name for att_name in dir(df_grouped)
                  if callable(getattr(df_grouped, att_name)) & ~att_name.startswith('_')]
print(object_callable_att)

['agg', 'aggregate', 'all', 'any', 'apply', 'backfill', 'bfill', 'boxplot', 'corr', 'corrwith', 'count', 'cov', 'cumcount', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'expanding', 'ffill', 'fillna', 'filter', 'first', 'get_group', 'head', 'hist', 'idxmax', 'idxmin', 'last', 'mad', 'max', 'mean', 'median', 'min', 'ngroup', 'nth', 'nunique', 'ohlc', 'pad', 'pct_change', 'pipe', 'plot', 'prod', 'quantile', 'rank', 'resample', 'rolling', 'sample', 'sem', 'shift', 'size', 'skew', 'std', 'sum', 'tail', 'take', 'transform', 'tshift', 'var']

And, here is the Python code snippet to list only those non-callable attributes of object that are not a column label of dataframe, and do not start with '_':

In [6]:
object_noncallable_att = [att_name for att_name in dir(df_grouped)
                  if (not callable(getattr(df_grouped, att_name))) & 
                              (not att_name.startswith('_')) & (not att_name in list(df.columns))]
print(object_noncallable_att)

['dtypes', 'groups', 'indices', 'ndim', 'ngroups']

As you can see, there are many methods and variables one can use based on their needs and application. In the following, we discuss some of the commonly used attributes of DataFrameGroupBy object.

## Python grouping pandas | attributes of DataFrameGroupBy object generated by pandas groupby

Let's look at some of the useful attributes of DataFrameGroupBy object generated by pandas groupby. 

We can use _ngroups_ to get the number of groups generated by pandas groupby:

In [7]:
df_grouped.ngroups

237

We can use the method _first_ to obtain a snapshot of the dataframe consisting of the first record from each group generated by pandas groupby. In the case of our COVID-19 dataset, the first row for each group is related to the first daily data point recorded for that specific location. So, the **date** of that first row may differ from one location to another.

In [8]:
df_grouped.first()

,iso_code,continent,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
location,,,,,,,,,,,,,,,,,,,,,
Afghanistan,AFG,Asia,2020-02-24,5.0,5.0,0.714,1.0,1.0,0.000,0.126,...,NaN,NaN,37.746,0.500,64.83,0.511,NaN,NaN,NaN,NaN
Africa,OWID_AFR,NaN,2020-02-13,1.0,0.0,0.143,1.0,0.0,0.000,0.001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,ALB,Europe,2020-02-25,2.0,2.0,5.429,1.0,1.0,0.143,0.696,...,7.100,51.200,NaN,2.890,78.57,0.795,-190.8,-4.34,2.88,-66.412942
Algeria,DZA,Africa,2020-02-25,1.0,1.0,0.143,1.0,1.0,0.000,0.022,...,0.700,30.400,83.741,1.900,76.88,0.748,NaN,NaN,NaN,NaN
Andorra,AND,Europe,2020-03-02,1.0,1.0,0.143,1.0,1.0,0.000,12.928,...,29.000,37.800,NaN,NaN,83.73,0.868,16.0,16.84,23.46,206.841275
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,WLF,Oceania,2021-03-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,79.94,NaN,NaN,NaN,NaN,NaN
World,OWID_WRL,NaN,2020-01-22,557.0,0.0,717.286,17.0,0.0,16.286,0.071,...,6.434,34.635,60.130,2.705,72.58,0.737,NaN,NaN,NaN,NaN
Yemen,YEM,Asia,2020-04-10,1.0,1.0,0.143,2.0,2.0,0.000,0.033,...,7.600,29.200,49.542,0.700,66.12,0.470,NaN,NaN,NaN,NaN
Zambia,ZMB,Africa,2020-03-18,2.0,2.0,0.429,1.0,1.0,0.000,0.106,...,3.100,24.700,13.938,2.000,63.89,0.584,NaN,NaN,NaN,NaN
Zimbabwe,ZWE,Africa,2020-03-20,1.0,1.0,0.429,1.0,1.0,0.143,0.066,...,1.600,30.700,36.791,1.700,61.49,0.571,NaN,NaN,NaN,NaN

Similarly, we can use the method _last_ to obtain a snapshot of the dataframe consisting of the last record from each group generated by pandas groupby:

In [9]:
df_grouped.last()

,iso_code,continent,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
location,,,,,,,,,,,,,,,,,,,,,
Afghanistan,AFG,Asia,2021-11-30,157289.0,29.0,39.143,7308.0,0.0,0.429,3948.470,...,NaN,NaN,37.746,0.500,64.83,0.511,NaN,NaN,NaN,NaN
Africa,OWID_AFR,NaN,2021-11-30,8652562.0,8181.0,6245.857,222881.0,143.0,140.000,6299.707,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,ALB,Europe,2021-11-30,199945.0,195.0,396.857,3096.0,4.0,6.143,69596.099,...,7.100,51.200,NaN,2.890,78.57,0.795,10923.4,28.63,43.06,3802.175755
Algeria,DZA,Africa,2021-11-30,210531.0,187.0,178.286,6071.0,7.0,5.857,4718.667,...,0.700,30.400,83.741,1.900,76.88,0.748,NaN,NaN,NaN,NaN
Andorra,AND,Europe,2021-11-30,17115.0,403.0,110.429,131.0,0.0,0.143,221255.527,...,29.000,37.800,NaN,NaN,83.73,0.868,89.6,27.20,31.41,1158.311141
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,WLF,Oceania,2021-11-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,79.94,NaN,NaN,NaN,NaN,NaN
World,OWID_WRL,NaN,2021-11-30,262806448.0,624741.0,573083.714,5215558.0,7971.0,7019.571,33372.393,...,6.434,34.635,60.130,2.705,72.58,0.737,NaN,NaN,NaN,NaN
Yemen,YEM,Asia,2021-11-30,10004.0,9.0,5.286,1950.0,1.0,1.143,328.101,...,7.600,29.200,49.542,0.700,66.12,0.470,NaN,NaN,NaN,NaN
Zambia,ZMB,Africa,2021-11-30,210169.0,19.0,11.286,3667.0,0.0,0.000,11107.912,...,3.100,24.700,13.938,2.000,63.89,0.584,NaN,NaN,NaN,NaN
Zimbabwe,ZWE,Africa,2021-11-30,134625.0,399.0,135.857,4707.0,1.0,1.143,8920.188,...,1.600,30.700,36.791,1.700,61.49,0.571,NaN,NaN,NaN,NaN

We can use the method **nth** to obtain a snapshot of dataframe consisting of the _nth_ row from each group generated by pandas groupby. As a quick tip, the first and last methods are equivalent to nth(0) and nth(-1), respectively.

In [10]:
#5th row from each group
df_grouped.nth(5)

,iso_code,continent,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
location,,,,,,,,,,,,,,,,,,,,,
Afghanistan,AFG,Asia,2020-02-29,5.0,0.0,0.714,NaN,NaN,0.000,0.126,...,NaN,NaN,37.746,0.500,64.83,0.511,NaN,NaN,NaN,NaN
Africa,OWID_AFR,NaN,2020-02-18,1.0,0.0,NaN,NaN,0.0,NaN,0.001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,ALB,Europe,2020-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.100,51.200,NaN,2.890,78.57,0.795,NaN,NaN,NaN,NaN
Algeria,DZA,Africa,2020-03-01,1.0,0.0,0.143,NaN,NaN,0.000,0.022,...,0.700,30.400,83.741,1.900,76.88,0.748,NaN,NaN,NaN,NaN
Andorra,AND,Europe,2020-03-07,1.0,0.0,0.143,NaN,NaN,0.000,12.928,...,29.000,37.800,NaN,NaN,83.73,0.868,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,WLF,Oceania,2021-03-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,79.94,NaN,NaN,NaN,NaN,NaN
World,OWID_WRL,NaN,2020-01-27,2927.0,809.0,NaN,82.0,26.0,NaN,0.372,...,6.434,34.635,60.130,2.705,72.58,0.737,NaN,NaN,NaN,NaN
Yemen,YEM,Asia,2020-04-15,1.0,0.0,0.143,NaN,NaN,0.000,0.033,...,7.600,29.200,49.542,0.700,66.12,0.470,NaN,NaN,NaN,NaN
Zambia,ZMB,Africa,2020-03-23,3.0,0.0,0.429,NaN,NaN,0.000,0.159,...,3.100,24.700,13.938,2.000,63.89,0.584,NaN,NaN,NaN,NaN
Zimbabwe,ZWE,Africa,2020-03-25,3.0,0.0,0.429,1.0,0.0,0.143,0.199,...,1.600,30.700,36.791,1.700,61.49,0.571,NaN,NaN,NaN,NaN

We can find the size of each group generated by pandas groupby using the method size:

In [11]:
df_grouped.size()

location
Afghanistan          646
Africa               657
Albania              645
Algeria              645
Andorra              639
                    ...
Wallis and Futuna    253
World                679
Yemen                600
Zambia               623
Zimbabwe             621
Length: 237, dtype: int64

Another useful method of DataFrameGroupBy object generated by pandas groupby is get_group, which returns all the records of a given group. For example, to obtain all the rows related to the **World** group, we can use the following Python code snippet. As a side note, the group **World** has the COVID-19 historical data across the whole world.

In [12]:
df_grouped.get_group('World')

,iso_code,continent,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
134470,OWID_WRL,NaN,2020-01-22,557.0,0.0,NaN,17.0,0.0,NaN,0.071,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
134471,OWID_WRL,NaN,2020-01-23,655.0,98.0,NaN,18.0,1.0,NaN,0.083,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
134472,OWID_WRL,NaN,2020-01-24,941.0,286.0,NaN,26.0,8.0,NaN,0.119,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
134473,OWID_WRL,NaN,2020-01-25,1434.0,493.0,NaN,42.0,16.0,NaN,0.182,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
134474,OWID_WRL,NaN,2020-01-26,2118.0,684.0,NaN,56.0,14.0,NaN,0.269,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135144,OWID_WRL,NaN,2021-11-26,260660212.0,596892.0,564384.571,5189414.0,6672.0,6937.714,33099.854,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
135145,OWID_WRL,NaN,2021-11-27,261110719.0,450507.0,560647.143,5195170.0,5756.0,6908.714,33157.061,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
135146,OWID_WRL,NaN,2021-11-28,261503794.0,393075.0,560210.286,5199817.0,4647.0,6942.714,33206.975,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
135147,OWID_WRL,NaN,2021-11-29,262181707.0,677913.0,567821.143,5207587.0,7770.0,7018.857,33293.060,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
135148,OWID_WRL,NaN,2021-11-30,262806448.0,624741.0,573083.714,5215558.0,7971.0,7019.571,33372.393,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN

You can use the method describe to get some useful statistical data about each column for each group generated by pandas groupby. For example, to get statistics of new daily cases for each group:

In [13]:
df_grouped['new_cases'].describe()

,count,mean,std,min,25%,50%,75%,max
location,,,,,,,,
Afghanistan,646.0,243.481424,411.031909,-2.0,28.0,78.0,234.75,3243.0
Africa,657.0,13141.515982,10823.804758,0.0,6146.0,10273.0,16922.00,49021.0
Albania,632.0,316.368671,326.462369,0.0,28.0,155.0,567.00,1239.0
Algeria,645.0,326.404651,299.389439,0.0,135.0,219.0,413.00,1927.0
Andorra,639.0,26.784038,42.224029,0.0,0.0,12.0,40.00,403.0
...,...,...,...,...,...,...,...,...
Wallis and Futuna,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
World,679.0,386168.020619,234312.096834,0.0,206580.0,406888.0,560810.00,908289.0
Yemen,600.0,16.673333,23.823431,-1.0,1.0,6.5,24.00,174.0
Zambia,623.0,337.349920,594.645537,0.0,20.0,78.0,324.00,3594.0
Zimbabwe,621.0,216.787440,468.922203,-6.0,13.0,46.0,146.00,3110.0

# Python grouping pandas | groupby multiple columns 

Sometimes, it becomes insightful to group pandas dataframe by multiple columns. In the case of our dataset, let's say we want to group pandas dataframe by two columns: 1. _continent_, and 2. _location_. Here is how we accomplish the task using pandas groupby, followed by displaying the first row of each group using the method first:

In [14]:
df_multi_grouped = df.groupby(['continent', 'location'])
df_multi_grouped.first()

                           iso_code        date  total_cases  new_cases  \
continent     location
Africa        Algeria           DZA  2020-02-25          1.0        1.0
              Angola            AGO  2020-03-20          1.0        1.0
              Benin             BEN  2020-03-16          1.0        1.0
              Botswana          BWA  2020-03-30          3.0        3.0
              Burkina Faso      BFA  2020-03-10          1.0        1.0
...                             ...         ...          ...        ...
South America Paraguay          PRY  2020-03-07          1.0        1.0
              Peru              PER  2020-01-01          1.0        1.0
              Suriname          SUR  2020-03-14          1.0        1.0
              Uruguay           URY  2020-03-13          4.0        4.0
              Venezuela         VEN  2020-03-14          2.0        2.0

                            new_cases_smoothed  total_deaths  new_deaths  \
continent     location
Africa        Algeria                    0.143           1.0         1.0
              Angola                     0.429           2.0         2.0
              Benin                      0.286           1.0         1.0
              Botswana                   0.571           1.0         1.0
              Burkina Faso               0.429           1.0         1.0
...                                        ...           ...         ...
South America Paraguay                   1.000           1.0         1.0
              Peru                       1.571           1.0         1.0
              Suriname                   0.143           1.0         1.0
              Uruguay                   11.286           1.0         1.0
              Venezuela                  6.000           1.0         1.0

                            new_deaths_smoothed  total_cases_per_million  \
continent     location
Africa        Algeria                     0.000                    0.022
              Angola                      0.000                    0.029
              Benin                       0.000                    0.080
              Botswana                    0.143                    1.251
              Burkina Faso                0.000                    0.047
...                                         ...                      ...
South America Paraguay                    0.000                    0.139
              Peru                        0.286                    0.030
              Suriname                    0.000                    1.690
              Uruguay                     0.000                    1.148
              Venezuela                   0.000                    0.070

                            new_cases_per_million  ...  female_smokers  \
continent     location                             ...
Africa        Algeria                       0.022  ...             0.7
              Angola                        0.029  ...             NaN
              Benin                         0.080  ...             0.6
              Botswana                      1.251  ...             5.7
              Burkina Faso                  0.047  ...             1.6
...                                           ...  ...             ...
South America Paraguay                      0.139  ...             5.0
              Peru                          0.030  ...             4.8
              Suriname                      1.690  ...             7.4
              Uruguay                       1.148  ...            14.0
              Venezuela                     0.070  ...             NaN

                            male_smokers  handwashing_facilities  \
continent     location
Africa        Algeria               30.4                  83.741
              Angola                 NaN                  26.664
              Benin                 12.3                  11.035
              Botswana              34.4                     NaN
              Burkina Faso          23.9                  11.877
...                                  ...                     ...
South America Paraguay              21.6                  79.602
              Peru                   NaN                     NaN
              Suriname              42.9                  67.779
              Uruguay               19.9                     NaN
              Venezuela              NaN                     NaN

                            hospital_beds_per_thousand  life_expectancy  \
continent     location
Africa        Algeria                              1.9            76.88
              Angola                               NaN            61.15
              Benin                                0.5            61.77
              Botswana                             1.8            69.59
              Burkina Faso                         0.4            61.58
...                                                ...              ...
South America Paraguay                             1.3            74.25
              Peru                                 1.6            76.74
              Suriname                             3.1            71.68
              Uruguay                              2.8            77.91
              Venezuela                            0.8            72.06

                            human_development_index  \
continent     location
Africa        Algeria                         0.748
              Angola                          0.581
              Benin                           0.545
              Botswana                        0.735
              Burkina Faso                    0.452
...                                             ...
South America Paraguay                        0.728
              Peru                            0.777
              Suriname                        0.738
              Uruguay                         0.817
              Venezuela                       0.711

                            excess_mortality_cumulative_absolute  \
continent     location
Africa        Algeria                                        NaN
              Angola                                         NaN
              Benin                                          NaN
              Botswana                                       NaN
              Burkina Faso                                   NaN
...                                                          ...
South America Paraguay                                     704.7
              Peru                                         165.1
              Suriname                                       NaN
              Uruguay                                     -121.4
              Venezuela                                      NaN

                            excess_mortality_cumulative  excess_mortality  \
continent     location
Africa        Algeria                               NaN               NaN
              Angola                                NaN               NaN
              Benin                                 NaN               NaN
              Botswana                              NaN               NaN
              Burkina Faso                          NaN               NaN
...                                                 ...               ...
South America Paraguay                             8.78             10.63
              Peru                                 7.36              7.36
              Suriname                              NaN               NaN
              Uruguay                             -1.58             -1.90
              Venezuela                             NaN               NaN

                            excess_mortality_cumulative_per_million
continent     location
Africa        Algeria                                           NaN
              Angola                                            NaN
              Benin                                             NaN
              Botswana                                          NaN
              Burkina Faso                                      NaN
...                                                             ...
South America Paraguay                                    97.608732
              Peru                                         4.949128
              Suriname                                          NaN
              Uruguay                                    -34.833488
              Venezuela                                         NaN

[224 rows x 65 columns]

A couple of important notes:

<font color='green'>When working with grouping pandas by multiple columns, a multiIndex pandas DataFrameGroupBy object is created. For the example shown here, two indices are 'continent' and 'location'.</font>

<font color='blue'>('Africa', 'Algeria'), ('Africa', 'Angola'), etc. refer to distinct groups, although their continent values 'Africa' are the same and is displayed only once for clarity.</font>

Now, you can obtain the sanpshot of dataframe for a given tuple of index, _e.g._ ('Africa', 'Algeria'):

In [15]:
df_multi_grouped.get_group(('Africa', 'Algeria'))

,iso_code,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
1948,DZA,2020-02-25,1.0,1.0,NaN,NaN,NaN,NaN,0.022,0.022,...,0.7,30.4,83.741,1.9,76.88,0.748,NaN,NaN,NaN,NaN
1949,DZA,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,0.022,0.000,...,0.7,30.4,83.741,1.9,76.88,0.748,NaN,NaN,NaN,NaN
1950,DZA,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,0.022,0.000,...,0.7,30.4,83.741,1.9,76.88,0.748,NaN,NaN,NaN,NaN
1951,DZA,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,0.022,0.000,...,0.7,30.4,83.741,1.9,76.88,0.748,NaN,NaN,NaN,NaN
1952,DZA,2020-02-29,1.0,0.0,NaN,NaN,NaN,NaN,0.022,0.000,...,0.7,30.4,83.741,1.9,76.88,0.748,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2588,DZA,2021-11-26,209817.0,193.0,160.286,6046.0,5.0,4.429,4702.664,4.326,...,0.7,30.4,83.741,1.9,76.88,0.748,NaN,NaN,NaN,NaN
2589,DZA,2021-11-27,209980.0,163.0,163.000,6052.0,6.0,5.000,4706.317,3.653,...,0.7,30.4,83.741,1.9,76.88,0.748,NaN,NaN,NaN,NaN
2590,DZA,2021-11-28,210152.0,172.0,171.429,6058.0,6.0,5.286,4710.172,3.855,...,0.7,30.4,83.741,1.9,76.88,0.748,NaN,NaN,NaN,NaN
2591,DZA,2021-11-29,210344.0,192.0,176.143,6064.0,6.0,5.429,4714.476,4.303,...,0.7,30.4,83.741,1.9,76.88,0.748,NaN,NaN,NaN,NaN
2592,DZA,2021-11-30,210531.0,187.0,178.286,6071.0,7.0,5.857,4718.667,4.191,...,0.7,30.4,83.741,1.9,76.88,0.748,NaN,NaN,NaN,NaN

# Python grouping pandas | groupby time and place using pandas groupby

As another example, let's try pandas grouping by two columns: 1. _date_ and 2. _continent_. We can use the pandas groupby as shown below:

In [16]:
df_grouped_cont_date = df.groupby(['date', 'continent'])

Now, you can obtain all the data for the group ('2021-01-01', 'Asia'):

In [17]:
df_grouped_cont_date.get_group(('2021-01-01', 'Asia'))

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
312,AFG,Asia,Afghanistan,2021-01-01,52513.0,183.0,131.143,2201.0,12.0,9.429,...,NaN,NaN,37.746,0.50,64.83,0.511,NaN,NaN,NaN,NaN
5786,ARM,Asia,Armenia,2021-01-01,159738.0,329.0,425.000,2828.0,5.0,13.571,...,1.5,52.1,94.043,4.20,75.09,0.776,NaN,NaN,NaN,NaN
8673,AZE,Asia,Azerbaijan,2021-01-01,219041.0,341.0,1039.571,2670.0,29.0,36.286,...,0.3,42.5,83.241,4.70,73.00,0.756,NaN,NaN,NaN,NaN
9945,BHR,Asia,Bahrain,2021-01-01,92913.0,238.0,229.857,352.0,0.0,0.143,...,5.8,37.6,NaN,2.00,77.29,0.852,NaN,NaN,NaN,NaN
10584,BGD,Asia,Bangladesh,2021-01-01,514500.0,990.0,1033.571,7576.0,17.0,25.429,...,1.0,44.7,34.808,0.80,72.59,0.632,NaN,NaN,NaN,NaN
14694,BTN,Asia,Bhutan,2021-01-01,689.0,19.0,16.143,NaN,NaN,0.000,...,NaN,NaN,79.807,1.70,71.78,0.654,NaN,NaN,NaN,NaN
18186,BRN,Asia,Brunei,2021-01-01,157.0,0.0,0.714,3.0,0.0,0.000,...,2.0,30.9,NaN,2.70,75.86,0.838,NaN,NaN,NaN,NaN
20734,KHM,Asia,Cambodia,2021-01-01,379.0,1.0,2.286,NaN,NaN,0.000,...,2.0,33.7,66.229,0.80,69.82,0.594,NaN,NaN,NaN,NaN
25580,CHN,Asia,China,2021-01-01,87135.0,18.0,22.286,4634.0,0.0,0.000,...,1.9,48.4,NaN,4.34,76.91,0.761,NaN,NaN,NaN,NaN
45844,GEO,Asia,Georgia,2021-01-01,228410.0,990.0,1383.714,2528.0,23.0,30.714,...,5.3,55.5,NaN,2.60,73.77,0.812,NaN,NaN,NaN,NaN
54481,HKG,Asia,Hong Kong,2021-01-01,8888.0,42.0,58.143,148.0,0.0,1.714,...,NaN,NaN,NaN,NaN,84.86,0.949,NaN,NaN,NaN,NaN
56434,IND,Asia,India,2021-01-01,10305788.0,19079.0,19524.286,149218.0,224.0,267.857,...,1.9,20.6,59.550,0.53,69.66,0.645,NaN,NaN,NaN,NaN
57074,IDN,Asia,Indonesia,2021-01-01,751270.0,8072.0,7310.429,22329.0,191.0,211.714,...,2.8,76.1,64.204,1.04,71.72,0.718,NaN,NaN,NaN,NaN
58389,IRN,Asia,Iran,2021-01-01,1231429.0,6287.0,6032.286,55337.0,114.0,128.143,...,0.8,21.1,NaN,1.50,76.68,0.783,NaN,NaN,NaN,NaN
59036,IRQ,Asia,Iraq,2021-01-01,596193.0,902.0,892.857,12824.0,11.0,9.857,...,NaN,NaN,94.576,1.40,70.60,0.674,NaN,NaN,NaN,NaN
60642,ISR,Asia,Israel,2021-01-01,428510.0,5248.0,4874.143,3356.0,31.0,24.286,...,15.4,35.4,NaN,2.99,82.97,0.919,NaN,NaN,NaN,NaN
62622,JPN,Asia,Japan,2021-01-01,239005.0,3256.0,3501.714,3541.0,49.0,50.571,...,11.2,33.7,NaN,13.05,84.63,0.919,NaN,NaN,NaN,NaN
63516,JOR,Asia,Jordan,2021-01-01,295765.0,1271.0,1494.143,3851.0,17.0,20.000,...,NaN,NaN,NaN,1.40,74.53,0.729,NaN,NaN,NaN,NaN
64144,KAZ,Asia,Kazakhstan,2021-01-01,202060.0,864.0,834.857,2749.0,0.0,11.429,...,7.0,43.1,98.999,6.70,73.60,0.825,NaN,NaN,NaN,NaN
66249,KWT,Asia,Kuwait,2021-01-01,150869.0,285.0,227.429,936.0,2.0,1.429,...,2.7,37.0,NaN,2.00,75.49,0.806,NaN,NaN,NaN,NaN
66872,KGZ,Asia,Kyrgyzstan,2021-01-01,81156.0,122.0,161.571,1356.0,1.0,2.286,...,3.6,50.5,89.220,4.50,71.45,0.697,NaN,NaN,NaN,NaN
67489,LAO,Asia,Laos,2021-01-01,41.0,0.0,0.000,NaN,NaN,0.000,...,7.3,51.2,49.839,1.50,67.92,0.613,NaN,NaN,NaN,NaN
68787,LBN,Asia,Lebanon,2021-01-01,183888.0,2385.0,2259.857,1479.0,11.0,16.000,...,26.9,40.7,NaN,2.90,78.93,0.744,NaN,NaN,NaN,NaN
76071,MYS,Asia,Malaysia,2021-01-01,115078.0,2068.0,1930.429,474.0,3.0,3.571,...,1.0,42.4,NaN,1.90,76.16,0.810,NaN,NaN,NaN,NaN
76705,MDV,Asia,Maldives,2021-01-01,13804.0,47.0,31.571,48.0,0.0,0.000,...,2.1,55.0,95.803,NaN,78.92,0.740,NaN,NaN,NaN,NaN
82525,MNG,Asia,Mongolia,2021-01-01,1242.0,22.0,22.857,1.0,0.0,0.143,...,5.5,46.5,71.180,7.00,69.87,0.737,NaN,NaN,NaN,NaN
85324,MMR,Asia,Myanmar,2021-01-01,125042.0,412.0,642.286,2697.0,15.0,20.714,...,6.3,35.2,79.287,0.90,67.13,0.583,NaN,NaN,NaN,NaN
86773,NPL,Asia,Nepal,2021-01-01,261019.0,426.0,545.571,1864.0,8.0,6.857,...,9.5,37.8,47.782,0.30,70.78,0.602,NaN,NaN,NaN,NaN
93897,OMN,Asia,Oman,2021-01-01,128867.0,0.0,82.429,1499.0,0.0,1.143,...,0.5,15.6,97.400,1.60,77.86,0.813,NaN,NaN,NaN,NaN
94542,PAK,Asia,Pakistan,2021-01-01,484362.0,2184.0,2125.714,10258.0,82.0,63.143,...,2.8,36.7,59.607,0.60,67.27,0.557,NaN,NaN,NaN,NaN
95280,PSE,Asia,Palestine,2021-01-01,139223.0,1219.0,1232.143,1418.0,18.0,22.571,...,NaN,NaN,NaN,NaN,74.05,0.708,NaN,NaN,NaN,NaN
98538,PHL,Asia,Philippines,2021-01-01,475820.0,1756.0,1174.143,9248.0,4.0,26.571,...,7.8,40.8,78.463,1.00,71.23,0.718,NaN,NaN,NaN,NaN
100552,QAT,Asia,Qatar,2021-01-01,144042.0,208.0,186.857,245.0,0.0,0.143,...,0.8,26.9,NaN,1.20,80.23,0.848,NaN,NaN,NaN,NaN
106719,SAU,Asia,Saudi Arabia,2021-01-01,362878.0,137.0,139.286,6230.0,7.0,8.857,...,1.8,25.4,NaN,2.70,75.13,0.854,NaN,NaN,NaN,NaN
109921,SGP,Asia,Singapore,2021-01-01,58629.0,30.0,17.143,29.0,0.0,0.000,...,5.2,28.3,NaN,2.40,83.62,0.938,NaN,NaN,NaN,NaN
114463,KOR,Asia,South Korea,2021-01-01,62593.0,824.0,955.857,942.0,25.0,21.286,...,6.2,40.9,NaN,12.27,83.03,0.916,NaN,NaN,NaN,NaN
116414,LKA,Asia,Sri Lanka,2021-01-01,43856.0,557.0,582.000,208.0,4.0,3.143,...,0.3,27.0,NaN,3.60,76.98,0.782,NaN,NaN,NaN,NaN
119604,SYR,Asia,Syria,2021-01-01,11526.0,92.0,100.714,717.0,6.0,8.143,...,NaN,NaN,70.598,1.50,72.70,0.567,NaN,NaN,NaN,NaN
120289,TWN,Asia,Taiwan,2021-01-01,802.0,3.0,3.143,7.0,0.0,0.000,...,NaN,NaN,NaN,NaN,80.46,NaN,NaN,NaN,NaN,NaN
120869,TJK,Asia,Tajikistan,2021-01-01,13665.0,0.0,27.143,90.0,0.0,0.143,...,NaN,NaN,72.704,4.80,71.10,0.668,NaN,NaN,NaN,NaN
122191,THA,Asia,Thailand,2021-01-01,7379.0,216.0,194.143,64.0,1.0,0.571,...,1.9,38.8,90.670,2.10,77.15,0.777,NaN,NaN,NaN,NaN
122810,TLS,Asia,Timor,2021-01-01,44.0,0.0,0.429,NaN,NaN,0.000,...,6.3,78.1,28.178,5.90,69.50,0.606,NaN,NaN,NaN,NaN
125680,TUR,Asia,Turkey,2021-01-01,2220855.0,12203.0,14657.143,21093.0,212.0,246.000,...,14.1,41.1,NaN,2.81,77.69,0.820,NaN,NaN,NaN,NaN
128273,ARE,Asia,United Arab Emirates,2021-01-01,209678.0,1856.0,1430.429,671.0,2.0,2.571,...,1.2,37.4,NaN,1.20,77.97,0.890,NaN,NaN,NaN,NaN
131557,UZB,Asia,Uzbekistan,2021-01-01,77182.0,122.0,87.714,614.0,0.0,0.286,...,1.3,24.7,NaN,4.00,71.72,0.720,NaN,NaN,NaN,NaN
133883,VNM,Asia,Vietnam,2021-01-01,1474.0,9.0,5.000,35.0,0.0,0.000,...,1.0,45.9,85.847,2.60,75.40,0.704,NaN,NaN,NaN,NaN
135415,YEM,Asia,Yemen,2021-01-01,2101.0,2.0,1.286,610.0,0.0,0.571,...,7.6,29.2,49.542,0.70,66.12,0.470,NaN,NaN,NaN,NaN

# Final remarks

In this article, we covered the concept of grouping pandas and its helpful features. 
Hopefully, this tutorial was able to help you with the Python basics, 
particularly pandas groupby and pandas groupby multiple columns. 
Feel free to check out the rest of our articles from [https://soardeepsci.com/blog/](https://soardeepsci.com/blog/).